<div class="container">

  <div class="box">

    <h2>Registered Users</h2>
    
    <app-registered-user
      *ngFor="let user of dataStore.registeredUsers$ | async; trackBy: trackByFn"
      [user]="user"
      (remove)="dataStore.removeRegisteredUser($event)">
    </app-registered-user>

    <button (click)="switchContext('addUser')">Add User</button>

  </div>

  <div class="box">

    <div *ngIf="context === 'addUser'">
      <h2>Add User</h2>
      <app-add-user></app-add-user>
    </div>

    <div *ngIf="context === 'details'">
      <app-user-details></app-user-details>
    </div>

  </div>

</div>