<div class="container">

  <div class="box">

    <div class="header-box">
      <h2>Registered Users</h2>
    </div>
    
    <div class="item-tray">
      <app-registered-user
        *ngFor="let user of dataStore.registeredUsers$ | async; trackBy: trackByFn"
        [user]="user"
        (remove)="dataStore.removeRegisteredUser($event)">
      </app-registered-user>
    </div>

    <div class="btn-box">
      <button mat-raised-button color="primary" (click)="switchContext('addUser')" class="add-btn">Add User</button>
    </div>

  </div>

  <div class="box">

    <div *ngIf="context === 'addUser'">

      <div class="header-box">
        <h2>Add User</h2>
      </div>

      <app-add-user></app-add-user>

    </div>

    <div *ngIf="context === 'details'">

      <app-user-details></app-user-details>

    </div>

  </div>

</div>