@import '~@angular/material/theming';
.menu-spacer {
  // flex: 1 1 auto;
}
.mat-toolbar-row {
  // background: rgb(190,30,45);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid darkgrey;
  color: #414141;
  @include mat-elevation(4);
}
.mat-toolbar-row a {
  font: 400 20px Arial;
  color: #7c7c7c;
  padding: 20px 40px;
}
.logo-container {
  height: 0px;
  width: 0px;
}
.logo {
  height: 100px;
  width: auto;
  top: -10px;
  left: 35px;
  z-index: 99;
  position: relative;
}
@media (max-width: 598px) {
  .logo {
    top: -5px;
    left: 60px;
    height: 80px;
    width: auto;
  }
  .menu-spacer {
    // flex: 1 1 auto;
  }
  .mat-toolbar-row a {
    font: 400 14px Arial;
    color: #7c7c7c;
    padding: 20px 25px;
  }
}
