@import '~@angular/material/theming';
.container {
  padding: 10px;
  width: 240px;
  height: 85px;
}
.card {
  width: 220px;
  height: 60px;
  border-radius: 6px;
  background-color: rgb(199, 91, 91);
  font: 1000 20px Arial;
  color: rgb(236, 236, 236);
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
  @include mat-elevation(5);
}
.card:hover {
  background-color: rgb(163, 76, 76);
}
.card:active {
  @include mat-elevation(2);
  margin: 2px -2px -2px 2px;
}
