<div class="container">

  <div class="box">

    <table *ngIf="user" style="width: 100%;">

      <tr>
        <td colspan="2" class="center">
          <h2>User Details</h2>
        </td>
      </tr>
      
      <tr>
        <td class="title">ID:</td>
        <td class="value">{{ user.id }}</td>
      </tr>
  
      <tr>
        <td class="title">First Name:</td>
        <td class="value">{{ user.firstName }}</td>
      </tr>
      
      <tr>
        <td class="title">Last Name:</td>
        <td class="value">{{ user.lastName }}</td>
      </tr>
      
      <tr>
        <td class="title">City:</td>
        <td class="value">{{ user.city }}</td>
      </tr>
      
      <tr>
        <td class="title">State:</td>
        <td class="value">{{ user.state }}</td>
      </tr>
      
      <tr>
        <td class="title">Zip Code:</td>
        <td class="value">{{ user.zipCode }}</td>
      </tr>
      
      <tr>
        <td class="title">Country:</td>
        <td class="value">{{ user.country }}</td>
      </tr>
      
      <tr>
        <td class="title">Company:</td>
        <td class="value">{{ user.company }}</td>
      </tr>
      
      <tr>
        <td class="title">Organization Type:</td>
        <td class="value">{{ user.organizationType }}</td>
      </tr>
      
      <tr>
        <td class="title">Phone:</td>
        <td class="value">{{ user.phone }}</td>
      </tr>
      
      <tr>
        <td class="title">Disclaimer Accepted:</td>
        <td class="value">{{ user.disclaimerAccepted }}</td>
      </tr>
      
      <tr>
        <td class="title">Language Code:</td>
        <td class="value">{{ user.languageCode }}</td>
      </tr>

      <tr>
        <td colspan="2" style="text-align: center;">
          <button mat-stroked-button color="warn" (click)="removeUser()">Remove User</button>
        </td>
      </tr>
  
    </table>

  </div>

</div>
